<div class="modal-header">
    <h4 class="modal-title" id="myRestaurantLabel" >{{["Add","Edit"][(restaurant.id>0)+0]}} restaurant</h4>
</div>


<div class="container">
    <div class="offsetspan6">
        <uib-carousel interval=100000>
            <uib-slide ng-repeat="slide in slides" active="slide.active">
                <img class="image-circle" ng-src="{{slide.name}}"    style="margin:auto;"/>
                <div class="carousel-caption">
                    <p>{{slide.review}}</p>
                </div>

            </uib-slide>
        </uib-carousel>
    </div>
</div>
<form class="btns"  ng-submit="uploadPhoto()" ng-show="(restaurant.id>0)+0">
    <input type="file" name="file" ng-model="file" id="file"><br />
    <input type="submit" value="Upload file">
</form>
<form >

    <div class="modal-body">
        <jh-alert-error></jh-alert-error>

        <div class="form-group">
            <label for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                   ng-model="restaurant.name"
                    >
        </div>

        <div ng-repeat="label in labels">
            <input type="text" ng-model="label.name">
            <a ng-click="deleteLabel(label)">X</a>
        </div>
        <button ng-click="addLabel()">New Label</button>

        <div class="form-textarea-group">
            <label for="field_review">Review</label>
            <textarea rows="6" class="form-control" name="review" id="field_review"
                   ng-model="review.content">

            </textarea>
        </div>


        <div class="form-group">
            <label for="field_kitchenrating">Kitchen rating</label>
            <input type="number" class="form-control" name="kitchenrating" id="field_kitchenrating"
                   ng-model="rating.kitchen"
                   required>

            <div ng-show="editForm.kitchenrating.$invalid">
                <p class="help-block"
                   ng-show="editForm.kitchenrating.$error.required">
                    This field is required.
                </p>

                <p class="help-block"
                   ng-show="editForm.kitchenrating.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label for="field_interiorrating">Interior rating</label>
            <input type="number" class="form-control" name="interiorrating" id="field_interiorrating"
                   ng-model="rating.interior"
                   required>

            <div ng-show="editForm.interiorrating.$invalid">
                <p class="help-block"
                   ng-show="editForm.interiorrating.$error.required">
                    This field is required.
                </p>

                <p class="help-block"
                   ng-show="editForm.interiorrating.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label for="field_servicerating">Service rating</label>
            <input type="number" class="form-control" name="servicerating" id="field_servicerating"
                   ng-model="rating.service"
                   required>

            <div ng-show="editForm.servicerating.$invalid">
                <p class="help-block"
                   ng-show="editForm.servicerating.$error.required">
                    This field is required.
                </p>

                <p class="help-block"
                   ng-show="editForm.interiorrating.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div id="mapContainer"></div>

    </div>
    <div class="modal-footer">
        <div class="btns">
        <a href="#/list"> <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button></a>
        <button ng-click="saveRestaurant()" type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
        </div>
    </div>
</form>
