<div>
    <nav class="navbar navbar-fixed-top navbar-default" role="navigation" >
        <div class="container">
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#/index.html">Home</a></li>
                    <li><a href="#/list">More restaurants</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right" ng-show="user">
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">{{user.name}} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li ng-show="editablePage"><a href="" ng-click="edit()">Edit</a></li>
                            <li><a href="" ng-click="restaurantsList()">Restaurants</a></li>
                            <li><a href="" ng-click="chainsList()">Chains</a></li>
                            <li><a href="" ng-click="logout()">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div class="edit-page">
<div class="modal-header">
    <h4 class="modal-title" id="myRestaurantLabel" >{{["Add","Edit"][(restaurant.id>0)+0]}} restaurant</h4>
</div>

<form >

    <div class="modal-body">
        <jh-alert-error></jh-alert-error>

        <div class="form-group">
            <label for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                   ng-model="restaurant.name"
                    >
        </div>

        <img id="resto_preview_img" ng-src="{{restaurant.previewImage}}">
        <form ng-show="(restaurant.id>0)+0">
            <input type="file" name="file" ng-model="fileP" id="fileP"><br />
            <button class="btn" ng-click="uploadPreviewImage()">Upload preview image</button>
            <button class="btn" ng-click="deletePreviewImage()">Delete preview image</button>
        </form>


        <div class="container">
            <div class="offsetspan6">
                <uib-carousel interval=100000>
                    <uib-slide ng-repeat="slide in slides" active="slide.active">
                        <img id="resto_slide_img" class="image-circle" ng-src="{{slide.name}}"    style="margin:auto;"/>
                        <div class="carousel-caption">
                            <p>{{slide.review}}</p>
                        </div>

                    </uib-slide>
                </uib-carousel>
            </div>
        </div>
        <form class="btns" ng-show="(restaurant.id>0)+0">
            <input type="file" name="file" ng-model="file" id="file"><br />
            <button class="btn" ng-click="uploadPhoto()">Upload photo</button>
            <button class="btn" ng-click="deletePhoto()">Delete photo</button>
        </form>

        <div ng-repeat="label in labels">
            <input type="text" ng-model="label.name">
            <a ng-click="deleteLabel(label)">X</a>
        </div>
        <button ng-click="addLabel()">New Label</button>

        <div class="form-textarea-group">
            <label for="field_review">Review</label>
            <p align="right">
                <input type="button" value="<b>" ng-click="addEditor('b')" >&nbsp;
                <input type="button" value="<i>" ng-click="addEditor('i')" >&nbsp;
                <input type="button" value="<u>" ng-click="addEditor('u')" >&nbsp;
                <input type="button" value="<p>" ng-click="addEditor('p')" >&nbsp;
                <input type="button" value="create label" ng-click="createLabel()" >&nbsp;
            </p>
            <textarea rows="6" class="form-control" name="review" id="field_review"
                      ng-model="review.content">

            </textarea>
        </div>


        <div class="form-group">
            <label for="field_kitchenrating">Kitchen rating</label>
            <input type="number" class="form-control" name="kitchenrating" id="field_kitchenrating"
                   ng-model="review.kitchen"
                   required>

            <div ng-show="editForm.kitchenrating.$invalid">
                <p class="help-block"
                   ng-show="editForm.kitchenrating.$error.required">
                    This field is required.
                </p>

                <p class="help-block"
                   ng-show="editForm.kitchenrating.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label for="field_interiorrating">Interior rating</label>
            <input type="number" class="form-control" name="interiorrating" id="field_interiorrating"
                   ng-model="review.interior"
                   required>

            <div ng-show="editForm.interiorrating.$invalid">
                <p class="help-block"
                   ng-show="editForm.interiorrating.$error.required">
                    This field is required.
                </p>

                <p class="help-block"
                   ng-show="editForm.interiorrating.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label for="field_servicerating">Service rating</label>
            <input type="number" class="form-control" name="servicerating" id="field_servicerating"
                   ng-model="review.service"
                   required>

            <div ng-show="editForm.servicerating.$invalid">
                <p class="help-block"
                   ng-show="editForm.servicerating.$error.required">
                    This field is required.
                </p>

                <p class="help-block"
                   ng-show="editForm.interiorrating.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div id="chooseChain">
            <label for="select_chain">Chain</label>
            <select id="select_chain" ng-model="restaurant.chain"
                    ng-options="v as v.name for v in itemsList track by v.id">
            </select>
            <button ng-click="forceClearChain()">Clear chain</button><br>
        </div>

        <div class="form-group move-down">
            <label for="Autocomplete">Location</label>
            <input type="text" id="Autocomplete" class="form-control" ng-autocomplete="result1" details="details1" options="options1" new-center-map="newCenterMap"/>
        </div>

        <div id="mapContainer"></div>

        <div class="form-group">
            <label for="formatted_address">Address</label>
            <input type="text" class="form-control" name="formatted_address" id="formatted_address"
                   ng-model="restaurant.address" readonly
                    >
        </div>
        <div class="form-group">
            <label for="address_streetAddress">Street number</label>
            <input type="text" class="form-control" name="address_streetAddress" id="address_streetAddress"
                   ng-model="restaurant.streetAddress" readonly
                    >
        </div>
        <div class="form-group">
            <label for="address_street">Street</label>
            <input type="text" class="form-control" name="address_street" id="address_street"
                   ng-model="restaurant.street.name" readonly
                    >
        </div>
        <div class="form-group">
            <label for="address_sublocality">Sublocality</label>
            <input type="text" class="form-control" name="address_sublocality" id="address_sublocality"
                   ng-model="restaurant.sublocality.name" readonly
                    >
        </div>
        <div class="form-group">
            <label for="address_locality">Locality</label>
            <input type="text" class="form-control" name="address_locality" id="address_locality"
                   ng-model="restaurant.locality.name" readonly
                    >
        </div>
        <div class="form-group">
            <label for="address_country">Country</label>
            <input type="text" class="form-control" name="address_country" id="address_country"
                   ng-model="restaurant.country.name" readonly
                    >
        </div>

    </div>
    <div class="modal-footer">
        <div class="btns">
            <a href="#/list"> <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
            </button></a>
            <button ng-click="saveRestaurant()" type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
                <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
            </button>
        </div>
    </div>
</form>
</div>

