<div>
    <div class="col-md-8">
        <table class="results">
            <tbody>
                <tr>
                    <th colspan="3">
                        Sort by:
                        <a ng-click="sortBy('total')">Total rating</a>
                        <a ng-click="sortBy('kitchen')">Kitchen</a>
                        <a ng-click="sortBy('interior')">Interior</a>
                        <a ng-click="sortBy('service')">Service</a>
                        <a ng-click="sortBy('createdDate')">Review date</a>
                        <a ng-click="sortBy('popularity')">Popularity</a>
                    </th>
                </tr>
                <tr ng-repeat="item in items" class="item-row">
                    <td class="item-image">
                        <img ng-if="item.reviewType=='RESTAURANT'" ng-src="{{item.restaurant.previewImage}}" />
                        <img ng-if="item.reviewType=='CHAIN'" ng-src="{{item.chain.previewImage}}" />
                    </td>
                    <td class="item-title">
                        <a ng-if="item.reviewType=='RESTAURANT'" href="#/view/{{item.restaurant.id}}">{{item.restaurant.name}}</a>
                        <a ng-if="item.reviewType=='CHAIN'" href="#/viewchain/{{item.chain.id}}">{{item.chain.name}}</a>
                        <br>
                        <span ng-repeat="label in item.labels" class="label label-success">{{label.name}}</span>
                    </td>
                    <td class="item-sort-col">
                        {{item.sortcol}}
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="pagination">
            <a ng-show="pageNum !== 0" ng-click="showPage(pageNum-1)">Prev</a>
            <a ng-repeat="page in pagesArray" ng-click="showPage(page)">{{page + 1}}</a>
            <a ng-show="pageNum !== totalPages-1" ng-click="showPage(pageNum+1)">Next</a>
        </div>
    </div>
    <div class="col-md-4">

    </div>
</div>
