
<main class="container">
    <div class="page_title_container">
        <h1>{{restaurant.name}}</h1>
    </div>
    <div class="slider">
        <div class="offsetspan6">
            <uib-carousel interval=100000>
                <uib-slide ng-repeat="slide in slides" active="slide.active">
                    <img class="image-circle" ng-src="{{slide.name}}"    style="margin:auto;"/>
                    <div class="carousel-caption">
                        <p>{{slide.review}}</p>
                    </div>

                </uib-slide>
            </uib-carousel>
        </div>
    </div>
    <div class="ratings_wrapper">
        <div class="ratings_box_kitchen ratings_box">
            <h3>KITCHEN</h3>
            <div id="kitchen_blank"></div> <!--блок пустых звезд-->
            <div id="kitchen_hover"></div> <!--блок  звезд при наведении мышью-->
            <div id="kitchen_votes"></div> <!--блок с итогами голосов -->
        </div>
        <div class="ratings_box_service ratings_box">
            <h3>SERVICE</h3>
            <div id="service_blank"></div> <!--блок пустых звезд-->
            <div id="service_hover"></div> <!--блок  звезд при наведении мышью-->
            <div id="service_votes"></div> <!--блок с итогами голосов -->
        </div>
        <div class="ratings_box_interior ratings_box">
            <h3>INTERIOR</h3>
            <div id="interior_blank"></div> <!--блок пустых звезд-->
            <div id="interior_hover"></div> <!--блок  звезд при наведении мышью-->
            <div id="interior_votes"></div> <!--блок с итогами голосов -->
        </div>

    </div>





    <div class="review_labels" >
        <span ng-repeat="label in labels" class="label label-success">{{label.name}}</span>
    </div>

    <div class="review_content">
        <div class="review_content_text" ng-bind-html="reviewHtml">

        </div>
        <div class="review_content_date">
            <p>{{reviewDate}}</p>
        </div>


    </div>



    <!-- Your share button code -->
    <div class="fb-share-button"
         data-href="http://localhost:8080/index.html#/view/59"
         data-layout="button_count">
    </div>



    <div class="review_details">
        <table class="review_details_table">
            <tr>
                <th>Total rating</th>
                <td>{{review.total}}</td>
            </tr>
            <tr ng-if="review.restaurant.chain !== null">
                <th>Chain</th>
                <td><a href="#/viewchain/{{review.restaurant.chain.id}}">{{review.restaurant.chain.name}}</a></td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{review.restaurant.address}}</td>
            </tr>

        </table>

        <div id="mapContainer"></div>
    </div>


</main>





