tbody {
    margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;
}
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
    .col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

.start-header h1 {
    margin-top: 0px;
}

.view-first {
    width: 99%;
    height: 150px;
    position: relative;
    display: block;
}

.view img {
    width: 99%;
    height: 140px;
    position: relative;
}

.view img:hover {
    cursor:pointer;
    opacity:.5;
}

.view-first-details {
    width: 99%;
    position: absolute;
    bottom: 8px;
    left: 0;
    right: 0;
    height: 43px;
    background-color: rgba(0, 0, 0, 0.8);
}

.details-rating {
    position: absolute;
    text-align: center;
    color: #fff;
    padding: 5px 10px;
    height: 32px;
    font-size: 12pt;
    bottom: 6px;
    right: 10px;
    margin-top: 5px;
    float: right;
    font-family: "Helvetica Neue","Segoe UI",Arial,sans-serif;
    border-radius: 5px;
    letter-spacing: 1px;
    cursor: default;
}

.details-name {
    position: absolute;
    text-align: center;
    color: #fff;
    padding: 5px 10px;
    height: 32px;
    font-size: 12pt;
    bottom: 6px;
    left: 10px;
    margin-top: 5px;
    float: right;
    font-family: "Helvetica Neue","Segoe UI",Arial,sans-serif;
    border-radius: 5px;
    letter-spacing: 1px;
    cursor: default;
}

.start-header {
    text-align: center;
    margin-bottom: 5px;
}

.moreButtons {
    text-align:center;

}

.list-page {
    padding-top: 50px;
}

.page_title_container {
    padding-top: 50px;
}

.modal-header {
    padding-top: 50px;
}



.results {
    border-right: 1px solid #ec008c;
    border-left: 1px solid #ec008c;
    position: relative;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    display:block;
}

.results a {
    margin-left: 10px;
    margin-right: 10px;
}

.pagination {
    width: 100%;
    text-align: center;
}

.pagination a {
    margin-left: 10px;
    margin-right: 10px;
}

.item-image {
    width: 120px;
}

.item-image img{
    height: 86px;
    padding-bottom: 8px;
    padding-top: 8px;
}

.item-row {
    border-bottom:1px solid #888;
}

.item-name {
     font-family:'Open Sans Condensed', sans-serif;
     font-size:22px;
     font-weight: bold;
 }

.item-sort-col {
    font-family:'Open Sans Condensed', sans-serif;
    font-size:22px;
    font-weight: bold;
}

.item-row:hover {
    cursor:pointer;
    color: #999999;
    opacity:.5;
}

.fl-filter {
    position: relative;
}
.fl-filter input {
    padding-right: 30px;
}
.fl-filter i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}

.container {
    width: 750px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 5px;
    padding-right: 5px;
    font-family: 'Open Sans Condensed','Arial','sans-serif';

}

.edit-page {
    width: 750px;
    margin-right: auto;
    margin-left: auto;
}

.page_title_container {
    margin: 0 5px 10px;
    border-bottom: 3px solid black;
    display: block;
    font-weight: bold;
}

.page_title_container h1{
    font-weight: bold;
}

.slider {
    position: relative;
    margin: 0 0 10px;
    display: block;
}

body {
    background-color: rgb(236, 236, 236);
}

.ratings_wrapper {
    margin:0 auto;
    width: 100%;
}

.ratings_box_kitchen {
    float: left;
    width: 30%;
    background-color: #fff;
    padding-top: 5px;
    padding-bottom: 20px;
    padding-left: 15px;
}
.ratings_box_service {

    float:right;
    width:30%;
    background-color: #fff;
    padding-top: 5px;
    padding-bottom: 20px;
    padding-left: 15px;
}
.ratings_box_interior {

    margin-left: 33%;
    margin-right: 33%;
    background-color: #fff;
    height: 100%;
    padding-top: 5px;
    padding-bottom: 20px;
    padding-left: 15px;
}

.ratings_box h3 {
    font-family: 'Open Sans Condensed','sans-serif';
    font-weight: bold;
    font-size: 22px;
}

#kitchen {position:relative; height:16px; cursor:pointer; width:83px; } /* Блок рейтинга*/
#kitchen_blank, #kitchen_votes, #kitchen_hover {height:16px; position:absolute}
#kitchen_blank { background:url(ratings.png); width:83px; } /* "Чистые" звездочки */
#kitchen_votes {background:url(ratings.png) 0 -16px} /*  Закрашенные звездочки */
#kitchen_hover {background:url(ratings.png) 0 -32px; display:none}  /*  звездочки при голосовании */

#interior {position:relative; height:16px; cursor:pointer; width:83px; float:right} /* Блок рейтинга*/
#interior_blank, #interior_votes, #interior_hover {height:16px; position:absolute}
#interior_blank { background:url(ratings.png); width:83px; } /* "Чистые" звездочки */
#interior_votes {background:url(ratings.png) 0 -16px} /*  Закрашенные звездочки */
#interior_hover {background:url(ratings.png) 0 -32px; display:none}  /*  звездочки при голосовании */

#service {position:relative; height:16px; cursor:pointer; width:83px; float:right} /* Блок рейтинга*/
#service_blank, #service_votes, #service_hover {height:16px; position:absolute}
#service_blank { background:url(ratings.png); width:83px; } /* "Чистые" звездочки */
#service_votes {background:url(ratings.png) 0 -16px} /*  Закрашенные звездочки */
#service_hover {background:url(ratings.png) 0 -32px; display:none}  /*  звездочки при голосовании */


.review_content {
    font-family: 'Open Sans','sans-serif';
    background-color: #fff;
    padding: 40px 10% 80px;
    margin-top: 10px;
    text-align: left;
    font-size: 20px;
}

.review_content p{
    text-align: left;
}

.review_content_date {
    font-weight: bold;
    margin-top: 40px;
}

.review_labels {
    padding: 20px 10% 20px;
    margin-top: 10px;
    font-family: 'Open Sans', 'sans-serif';
    background-color: #fff;
    font-size: 20px;
}

.review_labels span{
    margin-right: 10px;
}

.review_details {
    font-family: 'Open Sans','sans-serif';
    background-color: #fff;
    padding: 20px 10% 20px;
    margin-top: 10px;
    text-align: left;
    font-size: 20px;
}

.review_details_table {
    text-align: left;
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 30px;
}

.review_details_table th{
    position: relative;
    font-weight: bold;
    width: 30%;
}

.review_details_table td{
    position: relative;
    width: 70%;
}

.review_details_table tr{
    position: relative;
    margin-bottom: 20px;
}

.review_share {
    background-color: #fff;
    padding: 20px 10% 20px;
    margin-top: 10px;
}

.login_form {
    width: 33%;
    margin: 0 auto;
}

.empty_row {
    height: 80px;
}